body {
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, button {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#updateForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:
